
/* .btn{
    background-color: lightpink;
    display: flex;
    border: 100%;

}

.body{

    border: solid black 1px;
    padding: 2px;
} */

/* .container{
    display: flex;
    justify-content: center;
} */